<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= <img src="/photos/logo.png" />title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <%- include("../includes/fonts.ejs"); %>
    <link rel="stylesheet" href="/css/rating.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js"></script>
</head>
<body>
    <%- include("../includes/navbar.ejs"); %>
    <% if(successMsg.length || errorMsg.length){ %>
        <%- include("../includes/flash.ejs"); %>
    <% } %>
    <%- body %>
    <%- include("../includes/footer.ejs"); %>
    <script src="/js/app.js"></script>
</body>
</html>